body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 280px;
}

.title {
    font-size: 3rem;
    color: black;
    text-align: center;
}

.description {
    font-size: 1rem;
    color: black;
    text-align: center;
}

.get-started {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.8rem 7rem;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .get-started:hover {
        background-color: rgb(160, 160, 160);
    }

.about-us {
    display: flex;
    flex-direction: column;
}

.title-2 {
    font-size: 2rem;
    color: white;
    background-color: black;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
}